[Desktop Entry]
Encoding=UTF-8
Name=PeepCoin
Comment=PeepCoin P2P Cryptocurrency
Comment[fr]=PeepCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PeepCoin, eşten eşe kriptografik sanal para birimi
Exec=peepcoin-qt %u
Terminal=false
Type=Application
Icon=peepcoin128
MimeType=x-scheme-handler/peepcoin;
Categories=Office;Finance;
